# Authentication Keys (Placeholders)
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
RESEND_API_KEY=re_...
SHIP_COM_API_KEY=OAUTH2.HFZ...

# Application URLs
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_HERO_VIDEO_URL=https://3lulq6080g.ufs.sh/f/wza5XebveSljw44LKJbveSljRfhbQaKui17xJqgkLnMC9DAt
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlX2NkNzdlODM4YzdkZjMxNWUwYWM4YjJmNWMwNGM4YWU2OWQ2MzRjODUzOWVkMjQ5MTUzOWNiYjQxYWUzM2U1ZWMiLCJhcHBJZCI6IjNsdWxxNjA4MGciLCJyZWdpb25zIjpbInNlYTEiXX0='

# Shipping "From" Address
SHIP_FROM_NAME=Your Name
SHIP_FROM_COMPANY=Your Company
SHIP_FROM_PHONE=123-456-7890
SHIP_FROM_ADDRESS1=123 Main St
SHIP_FROM_ADDRESS2=
SHIP_FROM_CITY=Your City
SHIP_FROM_STATE=NY
SHIP_FROM_POSTAL_CODE=10001
SHIP_FROM_COUNTRY=US

# Package Defaults (Precise Book Dimensions)
PACKAGE_LENGTH_IN=9
PACKAGE_WIDTH_IN=6
PACKAGE_HEIGHT_IN=0.25
PACKAGE_WEIGHT_OZ=4
